:root.theme-dark {
  --main-bg-color: var(--dark-blue, #000028);
  --main-text-color: var(--pink, #f1b2ce);
  --text-shadow: var(--rose, #ff0070);
  --bg-image: url(../images/cover-image-dark.png);
  --page-title-shadow-color: var(--rose, #ff0070);
  --section-title-color: var(--rose, #ff0070);
  --title-decor-color: var(--dark-blue, #000028);
  --title-decor-bg-color: var(--rose, #ff0070);
  --button-border-color: var(--rose, #ff0070);
  --button-text-color: var(--rose, #ff0070);
  --button-outline-color: var(--deep-pink, rgba(255, 0, 112, 0.4));
  --decorated-zone-color: var(--rose, #ff0070);
  --decorated-zone-title-color: var(--purple, #db00ff);
}

.theme-dark .rec-label {
  display: flex;
}
