:root.theme-dark {
  --dark-blue:  #000028;
  --pink: #F1B2CE;
  --purple: #DB00FF;
  --rose: #FF0070;
  --deep-pink: rgba(255, 0, 112, 0.4);
  --main-font: 'IBM Plex mono';
  --main-bg-color: var(--dark-blue, #000028);
  --main-text-color: var(--pink, #F1B2CE);
  --text-shadow: var(--rose, #FF0070);
  --bg-image: url(../images/cover-image-dark.png);
  --h1-text-color: var(--purple, #DB00FF);
  --header-shadow-color: var(--rose, #FF0070);
  --h2-text-color: var(--rose, #FF0070);
  --h3-text-color: var(--dark-blue, #000028);
  --h3-bg-color: var(--rose, #FF0070);
  --h4-text-color: var(--dark-blue, #000028);
  --h4-bg-color: var(--rose, #FF0070);
  --h5-text-color: var(--purple, #DB00FF);
  --button-border-color: var(--rose, #FF0070);
  --button-text-color: var(--rose, #FF0070);
  --button-outline-color: var(--deep-pink,rgba(255, 0, 112, 0.4));
  --decorated-zone-color: var(--rose, #FF0070);
  --footer-shadow-color: var(--rose, #FF0070);
}

