:root.theme-light {
  --main-bg-color: var(--light-pink, #fff1f7);
  --main-text-color: var(--dark-grey, #353430);
  --text-shadow: var(--dark-pink, #ff8dcb);
  --bg-image: url(../images/cover-image-light.png);
  --page-title-shadow-color: var(--dark-pink, #ff8dcb);
  --section-title-color: var(--dark-grey, #353430);
  --title-decor-color: var(--dark-grey, #353430);
  --title-decor-bg-color: var(--dark-pink, #ff8dcb);
  --button-border-color: var(--dark-grey, #353430);
  --button-text-color: var(--dark-grey, #353430);
  --button-outline-color: var(--grey, rgba(50, 49, 45, 0.4));
  --decorated-zone-color: var(--dark-grey, #353430);
  --decorated-zone-title-color: var(--bright-pink, #ffc2e6);
}

.theme-light .rec-label {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --main-bg-color: var(--light-pink, #fff1f7);
    --main-text-color: var(--dark-grey, #353430);
    --text-shadow: var(--dark-pink, #ff8dcb);
    --bg-image: url(../images/cover-image-light.png);
    --page-title-shadow-color: var(--dark-pink, #ff8dcb);
    --section-title-color: var(--dark-grey, #353430);
    --title-decor-color: var(--dark-grey, #353430);
    --title-decor-bg-color: var(--dark-pink, #ff8dcb);
    --button-border-color: var(--dark-grey, #353430);
    --button-text-color: var(--dark-grey, #353430);
    --button-outline-color: var(--grey, rgba(50, 49, 45, 0.4));
    --decorated-zone-color: var(--dark-grey, #353430);
    --decorated-zone-title-color: var(--bright-pink, #ffc2e6);
  }

  .rec-label {
    display: none;
  }
}
