:root {
  --dark-blue:  #000028;
  --pink: #f1b2ce;
  --purple: #db00ff;
  --rose: #ff0070;
  --deep-pink: rgba(255, 0, 112, 0.4);
  --light-pink:  #fff1f7;
  --dark-grey: #353430;
  --bright-pink: #ffc2e6;
  --dark-pink: #ff8dcb;
  --grey: rgba(50, 49, 45, 0.4);
  --main-font: 'IBM Plex mono';
  --main-bg-color: var(--dark-blue, #000028);
  --main-text-color: var(--pink, #f1b2ce);
  --text-shadow: var(--rose, #ff0070);
  --bg-image: url(../images/cover-image-dark.png);
  --page-title-shadow-color: var(--rose, #ff0070);
  --section-title-color: var(--rose, #ff0070);
  --title-decor-color: var(--dark-blue, #000028);
  --title-decor-bg-color: var(--rose, #ff0070);
  --button-border-color: var(--rose, #ff0070);
  --button-text-color: var(--rose, #ff0070);
  --button-outline-color: var(--deep-pink, rgba(255, 0, 112, 0.4));
  --decorated-zone-color: var(--rose, #ff0070);
  --decorated-zone-title-color: var(--purple, #db00ff);
}
